{% extends 'base.html' %}

{% block body %}
<main>
  <h1>
    Have Fun with Colors
  </h1>

  <section>
    <h4> Tap or click then say one of the colors out loud:</h4>
    {% for color in colors %}
    <div class="color_list">
      <div class="color_display" style=background-color:{{color}};>{{color}}</div>
    </div>
    {% endfor %}
  </section>

  <section>
    <div class="color_change">
    </div>
  </section>

  <section>
    <p class="output">Result message</p>
  </section>





</main>
{% endblock %}

{% block afterbody %}
<script src="/static/js/color_script.js"></script>
{% endblock %}