{% extends 'base.html' %}

{% block navbar %}
<div class="mt-3">
  <a href="/">Return Home</a>
</div>
{% endblock %}

{% block body %}
<main>
  <h1 class="container-fluid mt-4 mb-5 p-5 text-center fw-bold color_banner">
    Have Fun with Colors
  </h1>

  <section class="text-center my-5">
    <h3 class="m-3 pt-5 fw-bold"> Tap or click then say one of the colors out loud:</h3>
    {% for color in colors %}
    <div class="color_list py-3 px-4">
      <div class="color_display align-baseline p-1" style=background-color:{{color}};>{{color}}</div>
    </div>
    {% endfor %}

    <h4 class="output text-center my-5 fw-bold pb-5">Result message</h4>
  </section>





</main>
{% endblock %}

{% block afterbody %}
<script src="/static/js/color_script.js"></script>
{% endblock %}