{% extends 'base.html' %}

{% block body %}
<main>
  <h1>
    Have Fun with Fruits
  </h1>

  <section>
    <h4> Tap or click then say one of the fruits out loud:</h4>
    {% for animal_dict in animals %}
    {% for key, value in animal_dict.items() %}
    <div class="animal_list">
      <div class="animal_display">{{key}}</div>
      <input id="hidden_animal_{{key}}" type="hidden" value="{{value}}">
    </div>
    {% endfor %}
    {% endfor %}

  </section>

  <section>
    <div class="animal_result">
      <img src="">
    </div>

  </section>

  <section>
    <p class="output">Result message</p>
  </section>





</main>
{% endblock %}

{% block afterbody %}
<script src="/static/js/animal_script.js"></script>
{% endblock %}