{% extends 'base.html' %}

{% block body %}
<main>
  <h1>
    Welcome to Teach Tod Talk - Where Your Toddler Have Fun with Speaking
  </h1>

  <section>
    <h2>Build your lesson</h2>
    <form action="/build_lesson">
      <div>
        <label for="categories">Categories</label>
        <select name="category" id="categories" required>
          <option value="">--Choose a category--</option>
          <option value="colors">Colors</option>
          <option value="animals">Animals</option>
          <option value="fruits">Fruits</option>
        </select>
      </div>

      <div>
        <label for="length">Numbers of words</label>
        <select name="num_words" id="length" required>
          <option value="">--Choose how many words--</option>
          <option value="5">5</option>
          <option value="8">8</option>
          <option value="10">10</option>
        </select>
      </div>

      <div> Choose a level:
        <input type="radio" id="easy" name="level" value="easy" required>
        <label for="easy">Easy</label>
        <input type="radio" id="medium" name="level" value="medium" required>
        <label for="medium">Medium</label>
        <input type="radio" id="advanced" name="level" value="advanced" required>
        <label for="advanced">Advanced</label>
      </div>

      <div>
        <button type="submit" value="build">Build</button>
      </div>

    </form>
  </section>





</main>
{% endblock %}