{% extends 'base.html' %}

{% block navbar %}
<div class="mt-3">
  <a href="/">Return Home</a>
</div>
{% endblock %}

{% block body %}
<main>
  <h1>
    Have Fun with Animals
  </h1>

  <section>
    <h4> Tap or click then say one of the animals out loud:</h4>
    {% for dict in words %}
    {% for key, value in dict.items() %}
    <div class="word_list">
      <div class="word_display">{{key}}</div>
      <input id="hidden_word_{{key}}" type="hidden" value="{{value}}">
    </div>
    {% endfor %}
    {% endfor %}

  </section>

  <section>
    <div class="word_result">
      <img src="">
    </div>

  </section>

  <section>
    <p class="output">Result message</p>
  </section>





</main>
{% endblock %}

{% block afterbody %}
<script src="/static/js/script.js"></script>
{% endblock %}